
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
$base-color: #20262E;
$medium-color: #4d5868;
$theme-color:#5D3891;
$highlight-color:#8c3ff8;
$light-color: #e9ebef;
$breakpoint-tablet: 870px;
$narrow: 800px;
$breakpoint-laptop:1200px;
$radius:(
    "small":5px,
    "regular":15px,
    "medium":2rem,
    "round":50%
);
* {
    box-sizing: border-box;
    // border: 1px solid #000;
}
html,a{
    font-family: 'Roboto',Arial, sans-serif;
}
body{
    margin: 0;
    background-color: $light-color;
    color: $base-color;
}
header, #mainNav>ul{
    display: flex;
    align-items: center;
}
header{
    justify-content: space-between;
    padding: 0 3rem;
    gap: 1rem;
    background-color: #fff;
    height: 8vh;
    & h1{
        margin: .5rem;
        font-family: 'Oleo Script Swash Caps', cursive;
        color: $theme-color;
    }
    & a{
        vertical-align: -webkit-baseline-middle;
        padding: 1.2rem 1rem;
    }
}
header li{
    list-style: none;
    
}
.subMenu{
    display: none;
    position: absolute;
    top: 8vh;
    left: 0%;
    // right: 0;
    // transform:translateX(-50%);
    width:calc(100% - 40%);
    padding: 3rem;
    margin: 0 20%;
    box-shadow: 0 20px 30px rgba($color: $base-color, $alpha: 0.2);
    background-color: #fff;
    border-radius: map-get($radius, regular);;
    max-width: 1000px;
    
    & ul{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        flex-grow: 3;
        padding: 0;
        & li{
            padding: .75rem;
            border-radius: 10px;
        }
        & li:hover{
            outline: solid 2px $theme-color;
            color: $theme-color;
            background-color: $light-color;
            & .sub-desc{
                color: inherit;
            }
        }
        & i{
            margin: .5rem;
            font-size: medium;
            vertical-align: middle;
            max-width: 1rem;
        }
        & .sub-title{
            font-weight: 600;
            font-size: smaller;
            vertical-align: middle;
        }
        
    }
    & .description{
        flex-grow:1;
        padding: 1rem;
        & p:first-of-type{
            font-size: larger;
            font-weight: 600;
        }
        & p:last-of-type{
            font-size: smaller;
            color: $medium-color;
        }
    }
    & .sub-desc{
        display: block;
        color: $medium-color;
        font-size: small;
        padding-left: 2rem;
    }
}

.mainNavbtn:hover{
    // color: red;
    
    & .subMenu{
        display: flex;
        // justify-content: stretch;
        -webkit-animation: scale-up-center 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    }
}
.mainNavbtn>span{
    display: block;
    font-weight: 600;
    color: $base-color;
    letter-spacing: .5px;   
    // vertical-align: -webkit-baseline-middle;
    padding: 1.2rem 1rem;
    cursor: pointer;
    text-align: center;
}
.mainNavbtn>span:hover{
    color: $medium-color;
}
a:not(.link){
    text-decoration: none;
}
.link{
    padding: 0;
    color: $theme-color;
    font-weight: 500;
}
.link:hover{
    color: $highlight-color;
}
.btn{
    padding: .75rem 2rem;
    border-radius: map-get($radius , small );
}
#cta{
    background-color: $theme-color;
    color: $light-color;
    transition: background-color .2s ease-in-out;
}
#cta:hover{
    background-color: $highlight-color;
}
label[for=menuToggle]{
    cursor: pointer;
    display: none;
    font-size: xx-large;
}
input#menuToggle{
    display: none;
}


/* ----------------------------------------------
 * Generated by Animista on 2023-2-11 11:33:56
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-up-center {
    0% {
        opacity: 0;
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
    100% {
        opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @keyframes scale-up-center {
    0% {
        opacity: 0;
      -webkit-transform: scale(0.95);
              transform: scale(0.95);
    }
    100% {
        opacity: 1;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  @media (max-width: $breakpoint-laptop){
    .subMenu{
        max-width: $breakpoint-laptop;
        width: 80%;
    margin: 0 10%;
    }
  }
  @media (max-width: $breakpoint-tablet) {
    #mainNav>ul{
        flex-direction: column;
        display: none;
        position: absolute;
        top:8vh;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 0;
        margin: 0;
        & .mainNavbtn:not(:last-of-type){
            width: 100%;
            border-bottom: solid 1px $light-color;
        } 
        & .mainNavbtn a:not(.link){
            display: block;
            text-align: center; 
            
        }

    }
    header{
        padding: 1rem;
        & h1{
            margin-right: auto;
        }
    }
    label[for=menuToggle]{
        display: block;
    }
    input#menuToggle:checked ~ #mainNav>ul{
        display: flex;
    }
    .subMenu{
        position: static;
        flex-direction: column;
        background-color: $base-color;
        color: #fff;
        margin: 0;
        width: 100%;
        & ul{
            grid-template-columns: 1fr;
        }
        & .sub-desc{
            color: $light-color;
        }
    }
    .link{
        color: $highlight-color;
    }
  }
  